@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
body{margin: 0;}
/*Barra Menu*/
.header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    justify-content: center;
  }
  .header__logo
  {
    background-image: url(../Fotos/Logo44.png);
    width: 50px;
    height: 50px;
  }
  /* Estilos móvil/celular */
  @media all and (max-width: 700px) {
    .header
    {
        justify-content: space-between;
    }
    /* Oculta el nav en la parte izquiera */
    .nav {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgb(255, 255, 255);
      transform: translateX(-100vw);
      transition: 0.5s;
    }
  
    /* Muestra el nav */
    .nav--show {
      transform: translateX(0);
    }
    .header__button-nav--open
    {
        border: 0;
        background-color: rgba(0, 0, 0, 0);
    }
    .header__button-nav--close
    {
        border: 0;
    }
    .nav__button {
      text-align: right;
    }
    .nav__ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .nav__link {
      display: block;
      padding: 10px 1.5rem;
      font-size: 1.5rem;
      text-align: center;
      text-decoration: none;
      color: #000;
    }  
    .fi-br-align-justify
    {
        margin-top: 8px;
        font-size: 25px;
    }
    .fi-br-align-justify:hover
    {
        text-align: center;
        color: #499F78;
    }
  }
  
  /* Estilos Escritorio */
  @media all and (min-width: 701px) {
  
    /* Oculta botón de abrir o cerrar */
    .nav__button,
    .header__button-nav--open {
      display: none;
    }
  
    /* Adapta el nav en horizontal */
    .nav__ul {
      display: flex;
      list-style: none;
      padding: 10px;
      margin: 0;
    }
  
    .nav__link {
      display: block;
      padding: 10px 1rem;
      text-decoration: none;
      transition: 0.5s;
       color: #fff;
    }
  
    .nav__link:hover {
      background-color: rgba(206, 206, 206, 0.692);
    }
    .fi-br-user-add{display: none;}
    .fi-br-map-marker{display: none;}
    .fi-br-user{display: none;}
    .fi-br-envelope{display: none;}
    .fi-br-users-alt{display: none;}
    .fi-br-user-add{display: none;}
    #Registros
    {
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 2%;
    }
    .header__logo
    {
        position: absolute;
        left: 0.5%;
    }
    #Btn-Crear
    {
        background-color: #389389;
        border-radius: 10px;
    }
  }
  /*Estilo Base*/
/*Prefabs Mobile*/
*{font-family: "poppins";}
h1 /*Background titles*/
{
  color: #fff;
  font-size: 48px;
  max-width: 800px;
}
h5 /*White text*/
{
  color: #fff;
  font-weight: 100;
  font-size: 20px;
}
p /*Black text*/
{
  font-weight: 100;
  font-size: 18px;
}
h3 /*White Titles*/
{
  color: #fff;
  font-size: 27px;
}
h2/*Black Titles*/
{
  font-size: 27px;
}
button /*Button design*/
{
  background-color: #216968;
  color: #fff;

  width: 150px;
  height: 50px;

  border: 0;
  border-radius: 10px;

  font-weight: 800;
}
/*Textbox Prefab Mobile*/

.Text-box p, .Text-box h5, .Text-box h3, .Text-box h2
{
  max-width: 500px;
}
.Text-box
{
  text-align: left;
  padding: 0 15%;
  margin: 5% 0;
}
.Text-box img
{
  max-width: 300px;
  max-height: 300px;
}
/*Finish prefab Mobile*/
/*Prefab Desktop*/
@media (min-width: 720px)
{
  .Text-box img
  {
    max-width: 600px;
    max-height: 600px;
  }
}

/*Back Ground mobile*/

.BackGround
{
  background-image: url(../Fotos/Home-BackGround.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 120vh;
  display: flex;
  flex-direction: column;
  text-align: center;

  align-items: center;
}

.BackGround-titles
{
  padding-top: 13%;
}
/*Que es satolution mobile*/

.Que-es
{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding: 5% 10%;
  padding-bottom: 30%;
}

.Que-es p
{
  max-width: 500px;
}

/*Box mobile */
.boxes
{
  display: flex;
  flex-direction: row;

  justify-content: center;

  background-image: url(../Fotos/Rectangle\ 178.png);
  background-repeat: no-repeat;
  background-size: cover;

  height: 350px;
}
.box
{
  width:65%;
  height: 75%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box p
{
  padding: 0 10%;
  text-align: center;
}
#secondarybox
{
  display: none;
}
/*Box mobile img*/

.box img
{
  width: 100px;
}
/*Verde Agua section Mobile*/
#Aqua
{
  background-color: #93C8B6;
  flex-direction: row-reverse;
  margin: 0;
}

/*Preevenir Mobile*/
#Preevenir
{
  
}
/*Que argentina mobile*/
.Que-argentina
{
  display: flex;
  flex-direction: column;

  background-color: #93C8B6;
  padding: 10%;|
  padding-bottom: 0;

}
.Que-argentina-img img
{
  width:100%;
}
/*Empeza ya Mobile*/
.Empeza-ya
{
  background-color: #93C8B6;
  flex-direction: column;

  text-align: left;
  padding: 50px;
}
.Empeza-ya h3
{
  font-size: 28px;
}
.Empeza-ya img
{
  display: none;
}
@media (min-width: 720px)
{
  /*Desktop Prefabs*/
  .Text-box
  {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
  }
  .Text-box img
  {
    width: 500px;
  }
  .Text-titles
  {
    display: flex;
    flex-direction: column;
    margin: 25px 50px;
  }
  .Que-es
  {
    padding-bottom: 10%;
  }
  #secondarybox
  {
    display: flex;
  }
  .box
  {
    width: 20%;
    margin: 0 5%;
    height: 80%;
    border-radius: 10px;
  }
  /*Prevenir Desktop*/
  #Preevenir
  {
    margin-top: 0;

    background-image: url(../Fotos/Home-Separador.png);
    background-repeat: repeat-x;
  }
  #Preevenir h2
  {
    margin-top: 50px;
  }
  /*Que hacemos para ayudar desktop*/
  #Ayudar
  {
    flex-direction: row-reverse;
  }
  .Que-argentina
  {
    margin-top: 50px;
    padding: 10%;
    padding-bottom: 0;
    align-items: center;
  
  }
  .Que-argentina h5
  {
    width: 50%;
  }
  .Que-argentina-img img 
  {
    height: 600px;
  }
  .Empeza-ya
  {
    display: flex;
    flex-direction: row;

    padding: 0;
    padding-left: 2.5%;

    justify-content: space-between;
  }
  .Empeza-ya-titles
  {
    flex-direction: column;

    padding: 2% 2%;
  }
  .Empeza-ya h3
  {
    font-size: 50px;
  }
  .Empeza-ya h5
  {
    font-size: 20px;
  }
  .Empeza-ya img
  {
    display: flex;
  }
}