@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
*
{
    box-sizing: border-box;
    margin-right: 0;
    margin-top: 0;
    font-family: "poppins";
    width: 100%;
}
body
{
    margin: 0;
    font-family: "Inter";
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #F9FCF8;

}
#file
{
    margin: 35px 0;
    width: 250px;
    height: 10px;
    color: 216968;
}
#Continuar
{
    margin-top: 15%;
}
/*Registro*/
.Register
{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 75%;
}
.Titles
{
    margin-bottom: 5px;
}
.Register h1
{
    margin-top: 20px;
    text-align: left;
    font-size:38px;
    padding: 17px 0px;
    margin-bottom: 0;
    padding-bottom: 6px;
}
.Register h3
{
    margin-top: 0;
    text-align: left;
    font-size: 16px;
}
.From
{
    margin-top: 15px;
    margin-bottom: 70px;    
}
.Form input
{
    margin-bottom: 15px;
    padding: 5px;
    font-size: 18px;
    border-color: rgba(128, 128, 128, 0.219);
    border-radius: 5px;
    background-color: #fff;
    outline: none;
    width: 100%;
}
.Register input:hover
{
    border-color: #216968;
}
.Sesion
{
    font-size: 16px;
    padding: 12px 0;
    margin: 2px;
    width: 99%;
    border: 0;
    border-radius: 10px;
    justify-content: center;
    background-color: #216968;
    color: #fff;
}
h5
{
    text-align: left;
    margin-bottom: 5px;
}
#Contraseña
{
    text-align: left;
    font-style: normal;
    font-size: 12px;
}
button:hover
{
    transition-delay: .1s;
    background-color: rgba(88, 88, 88, 0.336);
}
#Google
{
    font-size: 16px;
    padding: 12px 0;
    margin: 2px;
    width: 99%;
    background-color: #fff;
    background-image: url(../Fotos/Google-Logo.png);
    background-repeat: no-repeat;
    background-position: right 12% center;
    border-color: #b5b5b5;
    border-radius: 10px;
}
#Google:hover
{
    transition-delay: .1s;
    background-color: rgba(88, 88, 88, 0.336);
}
h4
{
    margin-bottom: 0;
    margin-top: 50px;
}
.Register a
{
    font-style: italic;
    color: blue;
    text-decoration: none; 
}
.Imagenes
{
    display: none;

}

@media (min-width:768px)
{
    .Form
    {
        display: flex;
        flex-direction: row;
    }
    .Register
    {
        display: flex;
        width: 40%;
        margin: 4%;
        margin-bottom: 0;
        margin-top: 2%;
    }
    .Titles
    {
        padding-top: 0;
    }
    .Imagenes
    {
        display: flex;
        width: 100%;
    }
    img
    {
        width: 100%;
    }
    *
    {
        overflow-y: hidden;
    }
}


