@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
*
{
    box-sizing: border-box;
    margin-right: 0;
    margin-top: 0;
    font-family: "poppins";
    width: 100%;
}
body
{
    margin: 0;
    font-family: "Inter";
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: var(--primary-color);

}
/*Header*/
.logo 
{
  width: 44px;
}
.logo img
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .logo a{
  color: var(--secondary-color);
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
header
{
    display: flex;
    flex-direction: row-reverse;
}
header img
{
    height: 44px;
    width: 44px;
}
/*Registro*/
.Register
{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 75%;
}
.Titles
{
    margin-bottom: 5px;
}
.Register h1
{
    margin-top: 20px;
    text-align: left;
    font-size:30px;
    padding: 17px 0px;
    margin-bottom: 0;
    padding-bottom: 6px;
}
.Register h3
{
    margin-top: 0;
    text-align: left;
    font-size: 18px;
    padding-right: 20px;
    font-weight: initial;
}
.From
{
    margin-top: 15px;
    margin-bottom: 10%;    
}
.Form input
{
    margin-top: 2px;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    border-color: #b5b5b5;
}
.Register input:hover
{
    border-color: #216968;
}
.Sesion
{
    font-size: 16px;
    padding: 12px 0;
    margin: 2px;
    width: 99%;
    border: 0;
    border-radius: 10px;
    justify-content: center;
    background-color: #216968;
    color: #fff;
}
h5
{
    text-align: left;
    margin-bottom: 5px;
}
#passwordInput
{
    margin-bottom: 0;
}
#Contraseña
{
    text-align: left;
    font-style: normal;
    font-size: 12px;
}

button:hover
{
    transition-delay: .1s;
    background-color: rgba(88, 88, 88, 0.336);
}
h4
{
    margin-bottom: 0;
    margin-top: 50px;
}
.Register a
{
    font-style: italic;
    color: blue;
    text-decoration: none; 
}
.Imagenes
{
    display: none;

}

@media (min-width:768px)
{
    .Form
    {
        display: flex;
        flex-direction: row;
    }
    .Register
    {
        display: flex;
        width: 50%;
        margin: 4%;
        margin-bottom: 0;
        margin-top: 1%;
    }
    .Titles
    {
        padding-top: 0;
    }
    .Imagenes
    {
        display: flex;
        height: 657px;
    }
    img
    {
        width: 100%;
    }
    #file
    {
        margin: 35px 0;
        width: 250px;
        height: 10px;
        color: 216968;
    }
    #Continuar
    {
        margin-top: 15%;
    }
}

@media (min-width:1400px)
{
    .Imagenes
    {
        display: flex;
        height: 960px;
    }
}
@media (min-width:2000px)
{
    .Imagenes
    {
        display: flex;
        height: 1250px;
    }
}

  /*Contactanos*/
  .textarea 
  {
    display: block;
    width: 100%;
    overflow: hidden;
    resize: both;
    text-align: start;
    min-height: 40px;
    line-height: 20px;
    max-width: 1px;
    min-width: 100%;
    }
    .textarea
    {
        border-radius: 5px;
        border: 1px solid;
        padding: 10px;
        border-color: #b5b5b5;
    }

    /*Error*/
    .From .password.err
    {
        border-color: red;
        color: red;
    }
