@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*
{
    font-family: "poppins";
}
.Form
{
    display: flex;
    flex-direction: row;
}
.Container
{
    margin: 4%;
    margin-top: 2%;
    width: 30%;
    flex-direction: column;
}

h1
{
    font-size: 38px;
}
h2
{
    font-size: 16px;
}
.Imagenes
{
    display: flex;
}
img
{
        width: 100%;
        height: auto;
}