
/*
#Titulo 
{
    color: rgb(40, 171, 211);
}
p.Texto
{

}
div p 
{
    color: blueviolet;
}
*
{
    font-size: 24px;
     lindo comentario 
    min-width: 100px;

}
*/

#Titulo
{
    /* border: 5px black solid; */
    border-style: solid;
    border-color: black;
    /*Curvar*/
    border-radius: 5px;
    /* Grosor*/
    border-width: 5px;
    /*Eterior*/
    margin: 15px 20px 25px 30px;
    /*Interior*/
    padding: 30px 25px 20px 15px;
   /*Esconde lo que no esntra en los bordes
    overflow: hidden;
    Crea la barra deslizadora
    overflow: scroll; */
    /*Coloca el texto en el centro*/
    text-align: center;
    /*Fuente de texto*/
    font-family:  Georgia, 'Times New Roman', Times, serif;
    
}
#Backgorund
{
    background-color: black;
    height: 400px;
    background-image: url('Satelite.jpg');
    background-size: 400px 400px;
   /*  background-repeat: no-repeat; */
}
a
{
    text-align: center;
    text-decoration: none ;
}
a:link
{
    color: violet;
}
a:hover
{
 color: blue;
}
a:active
{
    color: azure;
}

